html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.footer-gray-footer {
    width: 100%;
    margin-top: auto;
    height: auto;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    background-color: var(--dl-color-gray-900);
}

.footer-gray-divider {
    top: 0px;
    flex: 0 0 auto;
    left: 0px;
    right: auto;
    width: 100%;
    bottom: auto;
    height: 1px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: row;
    background-image: linear-gradient(90deg,transparent,rgba(0,0,0,.4),transparent);
}

.footer-gray-container {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-tripleunit);
    z-index: 1;
    position: relative;
    max-width: 1320px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.footer-gray-container1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-gray-container2 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.footer-gray-text {
    font-weight: 700;
    margin-bottom: var(--dl-space-space-unit);
    background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-gray-text01 {
    font-weight: 700;
    margin-bottom: var(--dl-space-space-halfunit);
}

.footer-gray-container3 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.footer-gray-icon {
    fill: var(--dl-color-secondary-400);
    width: 24px;
    height: 25px;
    margin-right: var(--dl-space-space-unit);
}

.footer-gray-icon2 {
    fill: var(--dl-color-secondary-400);
    width: 24px;
    height: 24px;
    margin-right: var(--dl-space-space-unit);
}

.footer-gray-icon4 {
    fill: var(--dl-color-secondary-400);
    width: 29px;
    height: 24px;
    margin-right: var(--dl-space-space-unit);
}

.footer-gray-icon6 {
    fill: var(--dl-color-secondary-400);
    width: 24px;
    height: 24px;
}

.footer-gray-container4 {
    display: flex;
    justify-content: space-between;
}

.footer-gray-container5 {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    margin-left: var(--dl-space-space-sixunits);
    flex-direction: column;
}

.footer-gray-text02 {
    font-weight: 600;
    margin-bottom: var(--dl-space-space-halfunit);
    background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-gray-text05 {
    margin-bottom: var(--dl-space-space-halfunit);
}

.footer-gray-text06 {
    margin-bottom: var(--dl-space-space-halfunit);
}

.footer-gray-text07 {
    margin-bottom: var(--dl-space-space-halfunit);
}

.footer-gray-container6 {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    margin-left: var(--dl-space-space-sixunits);
    flex-direction: column;
}

.footer-gray-text10 {
    font-weight: 600;
    margin-bottom: var(--dl-space-space-halfunit);
    background-image: linear-gradient(310deg,#7928ca,#ff0080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-gray-text11 {
    margin-bottom: var(--dl-space-space-halfunit);
}

.footer-gray-text12 {
    font-size: 14px;
    margin-top: var(--dl-space-space-unit);
    transition: 0.3s;
}

@media (max-width: 991px) {
    .footer-gray-container {
        padding: var(--dl-space-space-doubleunit);
    }

    .footer-gray-container5 {
        margin-left: var(--dl-space-space-tripleunit);
    }

    .footer-gray-container6 {
        margin-left: var(--dl-space-space-tripleunit);
    }
}

@media (max-width: 767px) {
    .footer-gray-container1 {
        flex-direction: column;
    }

    .footer-gray-container2 {
        margin-bottom: var(--dl-space-space-doubleunit);
    }

    .footer-gray-container4 {
        flex-wrap: wrap;
    }

    .footer-gray-container5 {
        width: 50%;
        margin-left: 0px;
    }

    .footer-gray-container6 {
        width: 50%;
        margin-left: 0px;
    }
}

.f-a-q-container {
    /* width: 100% */
    display: inline-grid;

    /* overflow: auto */
    /* min-height: 100vh */
    /* align-items: flex-start */
    /* flex-direction: column */
    /* justify-content: flex-end */
    height: 100%;
    margin: 0 0 0px;
}

.f-a-q-header {
    top: 38px;
    left: 0px;
    right: 0px;
    width: 50%;
    margin: auto;
    display: flex;
    z-index: 1000;
    position: fixed;
    max-width: auto;
    align-self: center;
    box-shadow: 3px 3px 5px 0px rgba(19, 19, 19, 0.55);
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: var(--dl-radius-radius-radius40);
    padding-right: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    background-color: hsla(0,0%,100%,.8);
}

.f-a-q-image {
    width: 94px;
    height: 93px;
    object-fit: cover;
}

.f-a-q-nav {
    display: flex;
    z-index: 2000;
}

.f-a-q-nav1 {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.f-a-q-navlink {
    font-style: normal;
    transition: 0.3s;
    font-weight: 600;
    border-width: 0px;
    text-decoration: none;
    background-color: transparent;
}

.f-a-q-navlink1 {
    z-index: 3000;
    font-style: normal;
    transition: 0.3s;
    font-weight: 600;
    border-width: 0px;
    text-decoration: none;
    background-color: transparent;
}

.f-a-q-navlink1:hover {
    z-index: 2000;
}

.f-a-q-navlink2 {
    font-style: normal;
    font-weight: 600;
    border-width: 0px;
    text-decoration: none;
    background-color: transparent;
}

.f-a-q-button {
    font-style: normal;
    font-weight: 600;
    border-width: 0px;
    text-decoration: none;
    background-color: transparent;
}

.f-a-q-icon {
    width: 16px;
    height: 16px;
    margin-right: 32px;
}

.f-a-q-icon02 {
    width: 16px;
    height: 16px;
    margin-right: 32px;
}

.f-a-q-icon04 {
    width: 16px;
    height: 16px;
}

.f-a-q-container1 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: space-between;
    flex-direction: column;
}

.f-a-q-burger-menu {
    display: none;
}

.f-a-q-icon06 {
    width: 16px;
    height: 16px;
    display: none;
}

.f-a-q-mobile-menu {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}

.f-a-q-nav2 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.f-a-q-container2 {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    justify-content: space-between;
}

.f-a-q-image1 {
    height: 2rem;
}

.f-a-q-close-mobile-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-a-q-icon08 {
    width: 16px;
    height: 16px;
}

.f-a-q-icon10 {
    width: 16px;
    height: 16px;
    margin-right: 32px;
}

.f-a-q-icon12 {
    width: 16px;
    height: 16px;
    margin-right: 32px;
}

.f-a-q-icon14 {
    width: 16px;
    height: 16px;
}

@media (max-width: 991px) {
    .f-a-q-icon06 {
        display: flex;
    }
}

@media (max-width: 767px) {
    .f-a-q-header {
        padding-left: 32px;
        padding-right: 32px;
    }

    .f-a-q-nav {
        display: none;
    }

    .f-a-q-nav1 {
        align-items: flex-start;
        flex-direction: column;
    }

    .f-a-q-burger-menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 479px) {
    .f-a-q-header {
        padding: var(--dl-space-space-unit);
    }

    .f-a-q-icon-group {
        display: none;
    }

    .f-a-q-mobile-menu {
        padding: 16px;
    }
}

faqContainer {
    margin: 100px;
    padding: 100px;
}

summary {
    padding: .5em 1.3rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    transition: height 1s ease;
    border-top: 1px solid rgb(0, 0, 0);
}

summary::-webkit-details-marker {
    display: none;
}

summary:after {
    content: "\002B";
    cursor: pointer;
}

details {
    background-color: #bfb9b9;
    color: #fff;
    font-size: 1.5rem;
}

details[open] summary {
    margin-bottom: .5em;
}

details[open] summary:after {
    content: "\00D7";
    cursor: pointer;
}

details[open] div {
    padding: .5em 1em;
}

.accordion {
    background-color: rgb(255, 255, 255);
    color: #000000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    font-weight: 600;
    text-align: left;
    font-size: 15px;
    transition: 0.4s;
}

.accordion:after {
    content: '\02795';

    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: rgb(184, 184, 184);
    float: right;
    margin-left: 5px;
}

.accordion:hover {
    background-color: #ccc;
}

.accordion:active {
    content: "\2796";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-bottom-width: 1px;
}

.FAQpara {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}


