<div>
  <link href="./component.css" rel="stylesheet" />
  <div class="component-container">
    <h1 class="component-text">
      <span>Contact Us</span>
      <br />
    </h1>
    <form id="contact" class="component-form">
      <div class="component-container1">
        <input
          type="text"
          placeholder="Full Name"
          class="component-input placeholder input"
        />
      </div>
      <div class="component-container2">
        <input type="text" placeholder="Email" class="component-input1 input" />
      </div>
      <div class="component-container3">
        <input
          type="text"
          placeholder="Company"
          class="component-input2 input"
        />
      </div>
      <div class="component-container4">
        <input
          type="text"
          placeholder="Company Website"
          class="component-input3 input"
        />
      </div>
      <div class="component-container5">
        <textarea
          placeholder="Message"
          class="component-textarea textarea"
        ></textarea>
      </div>
      <button type="submit" class="component-button button">
        <span>
          <span class="ButtonSmall component-text4">sEND YOUR MESSAGE</span>
          <br />
        </span>
      </button>
    </form>
  </div>
</div>
