.testimonals-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.testimonals-header {
  top: 38px;
  left: 0px;
  right: 0px;
  width: 50%;
  margin: auto;
  display: flex;
  z-index: 1000;
  position: fixed;
  max-width: auto;
  align-self: center;
  box-shadow: 3px 3px 5px 0px rgba(19, 19, 19, 0.55);
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: var(--dl-radius-radius-radius40);
  padding-right: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  background-color: hsla(0,0%,100%,.8);
}
.testimonals-image {
  width: 94px;
  height: 93px;
  object-fit: cover;
}
.testimonals-nav {
  display: flex;
  z-index: 2000;
}
.testimonals-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.testimonals-navlink {
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}

.testimonals-navlink1 {
  z-index: 3000;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.testimonals-navlink1:hover {
  z-index: 2000;
}
.testimonals-navlink2 {
  font-style: normal;
  font-weight: 600;
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.testimonals-button {
  font-style: normal;
  font-weight: 600;
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.testimonals-icon {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.testimonals-icon02 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.testimonals-icon04 {
  width: 16px;
  height: 16px;
}
.testimonals-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.testimonals-burger-menu {
  display: none;
}
.testimonals-icon06 {
  width: 16px;
  height: 16px;
  display: none;
}
.testimonals-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.testimonals-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.testimonals-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.testimonals-image1 {
  height: 2rem;
}
.testimonals-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonals-icon08 {
  width: 16px;
  height: 16px;
}
.testimonals-icon10 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.testimonals-icon12 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.testimonals-icon14 {
  width: 16px;
  height: 16px;
}
.testimonals-text {
  align-self: center;
  padding-bottom: 300px;
}
@media(max-width: 991px) {
  .testimonals-icon06 {
    display: flex;
  }
}
@media(max-width: 767px) {
  .testimonals-header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .testimonals-nav {
    display: none;
  }
  .testimonals-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .testimonals-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .testimonals-header {
    padding: var(--dl-space-space-unit);
  }
  .testimonals-icon-group {
    display: none;
  }
  .testimonals-mobile-menu {
    padding: 16px;
  }
}
